.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #1976d2;
}

.text-white {
  color: #fff;
}

.jc-sb {
  justify-content: space-between;
}
.img-responsive {
  width: 100%;

}
.News {
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-gap: 10px;
}
.News .Box1 {
  padding-right: 20px;
}
@media only screen and (max-width:415px) {
  .News{
    grid-template-columns: repeat(1, 1fr);
  }
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(228, 225, 225, 0.781);
  width: 100%;
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 3px;
}